.MMM-Asset-Portfolio {
    font-size: large;
}
.MMM-Asset-Portfolio> tr {
    padding-bottom: 8px;
}

.MMM-Asset-Portfolio > tr > td, .MMM-Asset-Portfolio > tr > th {
    padding-left: 32px;
    padding-bottom: 5px;
}
.MMM-Asset-Portfolio tr.header-row th {
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.MMM-Asset-Portfolio *:first-child {
    padding-left: 0;
    /* text-align: left; */
}
 .MMM-Asset-Portfolio tr.total-row td.total-0{
    text-align: center;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}
.MMM-Asset-Portfolio tr.total-row td.total-1{
    text-align: center;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}